:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color: #020f31;
  --bg-color2: #fcf0cc;
  --bg-color3: #1e3557;
  --bg-color4: #111622;
  --bg-color5: #03133a;
  --text-color: #dde6fe;
  --accent-color: #f25f79;
  --large-box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%),
    0 8px 10px -6px rgb(0 0 0 / 10%);
  --small-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --color0: #800f3f;
  --color1: #0f8022;
  --color2: #b24822;
  --color3: #5d23b2;
  --color4: #242ab2;
  --secondary-color0: hsl(335deg 79% 58%);
  --secondary-color1: #27ee48;
  --secondary-color2: hsl(16deg 78% 58%);
  --secondary-color3: #8f47ff;
  --secondary-color4: #42a0ff;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: serif;
}

.color0 {
  color: var(--color0);
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}

.background-color0 {
  background-color: var(--color0);
}

.background-color1 {
  background-color: var(--color1);
}

.background-color2 {
  background-color: var(--color2);
}
.background-color3 {
  background-color: var(--color3);
}
.background-color4 {
  background-color: var(--color4);
}
.emoji {
  width: 1rem;
  height: 1rem;
  margin: 0 0.05rem;
  display: inline;
}
