.postWrapper > a {
  text-decoration: none;
}

.post {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--small-box-shadow);
  color: var(--text-color);
  min-height: 200px;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-height: 30px;
}

.section {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  flex-direction: column;
}
.main {
  min-height: 100px;
  margin-bottom: 1rem;
  overflow-wrap: anywhere;
}
.aside {
  cursor: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-weight: 300;
  display: flex;
  gap: 1rem;
}

.shareButton {
  cursor: pointer;
  font-size: 1rem;
}
