.mainView {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
  padding: 3rem;
  text-align: center;
}
.mainView form div {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}

.mainView form div > label {
  font-weight: 500;
}
