.mainView {
  display: flex;
  flex-direction: column;
}

.loginForm {
  background-color: #4417c0;
  padding: 3rem;
  text-align: center;
}

.signupForm {
  padding: 3rem;
  background-color: #310f80;
  text-align: center;
}
