.rootLayout {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  box-shadow: var(--small-box-shadow);
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
}

.homeLink {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.homeLink img {
  image-rendering: pixelated;
  width: 48px;
}

.homeLink header {
  font-family: serif;
  color: var(--text-color);
  text-decoration: none;
  font-size: 4rem;
  letter-spacing: -0.15rem;
}

.navLink {
  height: 4rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.rightSide {
  color: var(--text-color);
  display: flex;
  gap: 1rem;
  align-items: center;
}